{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ 'atom.xml' | url }}">
  {% if page and page.url == "" %}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Saeed Gholami Shahbandi",
        "url": "https://saeed.im/",
        "sameAs": [
          "https://github.com/saeedghsh",
          "https://www.linkedin.com/in/saeedghsh",
          "https://www.researchgate.net/profile/Saeed_Gholami_Shahbandi",
          "https://scholar.google.com/citations?hl=en&user=5j4Fp9IAAAAJ"
        ]
      }
    </script>
  {% endif %}
{% endblock %}
