---
layout: default
title: Home
---

{% 500px 98848879 %}

<h2 id="about">About Me</h2> 
{% capture about %}{% include section-about.md %}{% endcapture %}
{{ about | markdownify }}

<h2 id="publications">Publications</h2>
{% capture publications %}{% include section-publications.md %}{% endcapture %}
{{ publications | markdownify }}

<h2 id="contact">Contact</h2> 
{% capture contact %}{% include section-contact.md %}{% endcapture %}
{{ contact | markdownify }}

<hr />
<p style="text-align:right; color: gray">
  <small>Last update: {{ site.time }}</small>
</p>
